.contact-section {
  padding: 60px 40px;
  background-color: #282c34;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.contact-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: rgb(221, 246, 248);
}

.contact-section a {
  color: #61dafb;
  text-decoration: none;
  font-weight: 600;
}

.contact-section a:hover {
  text-decoration: underline;
}
